{
  "parser": "@typescript-eslint/parser",
  // "plugins": ["@typescript-eslint"],
  "extends": ["react-app", "eslint:recommended"],
  // "rules": {
  //   "prettier/prettier": ["error", { "endOfLine": "auto" }]
  // },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
